@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Oswald:wght@200..700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Universal Classes */
.bg-color-1 {
  background-color: #ffffff;
}

.bg-color-2 {
  background-color: #41729f;
}

.bg-color-3 {
  background-color: #274472;
}

.bg-color-4 {
  background-color: #c3e0e5;
}

.f-wh-vw {
  width: 100vw;
  height: 100vh;
}

.f-wh-per {
  width: 100%;
  height: 100%;
}

.fl-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-c-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fl-c-c-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.debug {
  background-color: red;
  color: green;
}

/* Main */

* {
  font-family: "Besley";
}

nav {
  width: 100vw;
  height: 20%;
  background-color: green;
}

.main-content {
  background: rgb(65, 114, 159);
  background: linear-gradient(
    160deg,
    rgb(65, 114, 159) 0%,
    rgb(57, 99, 138) 15%,
    rgba(41, 75, 105, 1) 35%,
    rgba(41, 75, 105, 1) 65%,
    rgb(50, 90, 124) 85%,
    rgba(65, 114, 159) 100%
  );
}

